<nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top"
>
    <div class="container-fluid ms-5 me-5">
        <a class="navbar-brand" href="#"
            ><img
                src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png"
                alt="gambar"
                width="50"
        /></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a
                        class="nav-link active text-dark"
                        aria-current="page"
                        href="#home"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-dark"
                        href="https://medium.com/@kevinarnandes/ngobrol-tipis-sambil-kenalan-7164238c87d0"
                        >Medium</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
